{% macro navbar(current_user) %}

<nav>
  <div class="navbar">
    <a class="logo" href="{{ url_for('core.dashboard')}}"
      ><i class="fa-solid fa-paw"></i> <span>PAWS</span>TER</a
    >
    <div class="openMenu"><i class="fa fa-bars"></i></div>
    <ul class="navbar--links">
      <div class="closeMenu"><i class="fa fa-times"></i></div>
      <li class="navbar--link">
        <a href="{{ url_for('core.dashboard')}}">HOME</a>
      </li>
      <li class="navbar--link">
        <a href="{{ url_for('core.adoptions')}}">FOR ADOPTION</a>
      </li>

      {% if current_user.is_authenticated %}

      <li class="navbar--link">
        <a href="{{ url_for('core.pet_post')}}">CREATE POSTING</a>
      </li>

      <li class="navbar--link">
        <a href="{{ url_for('auth.profile', id=current_user.id) }}">PROFILE</a>
      </li>

      <li class="navbar--link">
        <a href="{{ url_for('auth.logout')}}">LOGOUT</a>
      </li>
      {% else %} {% if request.path == '/auth/login' %}
      <li class="navbar--link">
        <a href="{{ url_for('auth.register')}}">REGISTER</a>
      </li>
      {% else %}
      <li class="navbar--link">
        <a href="{{ url_for('auth.login')}}">LOGIN</a>
      </li>
      {% endif %} {% endif %}
    </ul>
  </div>
</nav>

{% endmacro %}
