{% from 'macros/form_field.html' import form_field %} {% extends 'base.html' %} {% block content %}

<div class="main register">
  <h1>Update</h1>

  <form method="POST" class="register-form" novalidate enctype="multipart/form-data">
    {{form.hidden_tag()}} {{form.profile_image}} {{form_field(form.name)}} {{ form_field(form.age)}}
    {{ form_field(form.description)}} {{ form_field(form.for_adoption)}}

    <div class="form-control">{{form.submit(class='submit-btn')}}</div>
  </form>
</div>
{% endblock %}
